.custom-link {
    color: black;
    text-decoration: none;
}

.breadcrumbs {
    text-align: right;
}

.blue-text {
    color: #2e6da4;
}

.img {
    height: 100px;
    width: 200px;
}

.logout-line {
    border-top-style: solid;
    border-top-color: lightgrey;
    border-top-width: 1px;
    margin-top: 10px;
    padding-top: 5px;
}