body {

}

.h1 {
    color: red;
}

.title-center {
    margin-top: 3%;
    text-align: center;
}

.custom-container {
    width: 30%;
}

.custom-link {
    color: black;
    text-decoration: none;
}

.module-action {
    width: 80%;
    margin: auto;
}

.info {
    font-size: 13px;
}

.transparent {
    opacity: 0;
}

.fixed-width {
    width: 15px;
}